
body{
    background-image: url(./photo/christmas-elements-black-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.box_gifts {
    display: flex;
    justify-items: center;
}

